@font-face{
    font-family: 'Roboto-Regular';
    src:url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
    position: absolut;
    display: block;
   
}
*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0
    position: relative; 
    
}

a{
    text-decoration: none;
}
nav{
    background-color: rgba(0,0,0,0.8);
    padding:12px 0 12px 0;

}

    nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin:0
}

nav ul a{
    color: rgb(255,255, 255, 0.7);
    text-decoration: none;
    margin: 0 42px 0 42px;
    font-size: 0.8rem;
}

.icon{
    width:20px;
    height: 20px;
    background-size: 230% 230%;
    display: block;
    background-position: -13px -11px;
    background-repeat: no-repeat;

}

.apple{
    background-image: url('./img/apple.svg');
}

.zoom{
    background-image: url('./img/zoom.svg');
    background-position: -33px -9px;
    background-size: 410% 410%;
}

.shopping{
    background-image: url('./img/shopping.svg');
}

.small_txt{
    font-size:0.9rem;
    text-align: center;

}

.fotoprimera{
    text-align: center;
    background-image: url("./img/macbook-horizontal.jpg");
    min-height: 300px;
    background-position: center center;
    background-size: 900px auto;
    background-repeat: no-repeat;
    position: relative;
}

.t1{
    font-size: 3.7rem;
    color: black;
    margin-bottom: 0;
    text-align: center;
    line-height: 90%;

}

.t2{
    font-size: 1rem;
    color: black;
    margin-top:7px;
    text-align: center;
}

.t3{
    font-size: 0.9rem;
    color: black;
    text-align: center;
}

.t4{
    font-size: 0.7rem;
    color: orangered;
    text-align: center;
    
}

.enlaceprimero{
    
    border: 0px;
    margin: auto;
    padding: 0.5rem;
    text-decoration: none;
    background-color:rgb(0, 113, 227);
    border-radius: 13px;
    color: white;
    font-size: 0.8rem;
    
}

.enlacesegundo {

    color: rgb(0, 113, 227);
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 0;
    text-decoration: none;
}

.t5 {

    text-align: center;
}

.enlacetercero{

    border: 10px;
    margin: auto;
    padding: 0.5rem;
    text-decoration: none;
    background-color:rgb(0, 113, 227);
    border-radius: 13px;
    color: white;
    font-size: 0.8rem;
}

.contenedor1{
    width: 500px;
    height: 500px;
    display: block;
    background-color: rgb(242, 242, 242);
    margin-left: 400px;
    float: left;
    text-align: center;
    position: relative;
    
    

}

.contenedor2{
    width: 500px;
    height: 500px;
    display: block;
    background-color: rgb(242, 242, 242);
    margin-right: 400px;
    float:right;
    text-align: center;
    position: relative;
    

}

.small_txt2 {
    font-size: 0.8em;
    text-align: center;
}

.enlacecuarto {

    color: rgb(0, 113, 227);
}

.img1{
    width: 500px;
    height: 250px;
    padding-top: 90px;

}

.img2{
    width: 400px;
    height: 250px;
    padding-top: 47px;
    
}

.entrega {
    text-align: center;
    padding-bottom: 80px;
    
    
}

.ultimaimg {

    padding-top: 100px;
    text-align: center;
    display: inline-block;
    
}

.enlacequinto {
    color: rgb(0, 113, 227);
}

.footer{
    background-color: rgb(245, 245, 247);
    width: 300%;
    display: flex;
    display: inline-block;
    padding-bottom: 25px;
    padding-top: 25px;
}



.f1 {
    color: rgb(81, 81, 84);
    font-size: 12px;
    margin-left: 100px;
    
}


.f2{ 
    font-size: 12px;
    margin-left: 100px;
    font-weight: bold;
    color: rgb(81, 81, 84);
}